        <!-- footer -->
	    <footer class="page-footer">
            <div class="container">
              <!-- Footer Links -->
              <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                     <!-- Grid column -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <!-- Content -->
                       <div class="tcontent">
                        <font size="6" color="white">WISG where i should go.</font>
                        <font color="white" size="4"><p>WISG is a website for who want to share experience on travel like a blog and who don’t know where should we go ,want to read review activity, price, how to go for decide to travel .</p></font>
                      </div>
                      </div>
                  <!-- Grid column -->
                  <hr class="clearfix w-100 d-md-none pb-3">
                  <!-- Grid column -->

                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <!-- Links -->
                            <p class="blocktext">
                            <font color="white" size="5"><h5 class="text-uppercase">Category</h5>
                                <ul class="list-unstyled">
                                    <li><a href="/blogs/category/<%= 'culture' %>"><span><small><i class="fas fa-map-marker-alt"></i></small> Culture</span></a></li>
                                    <li><a href="/blogs/category/<%= 'environment' %>"><span><small><i class="fas fa-map-marker-alt"></i></small> Environment</span></a></li>
                                    <li><a href="/blogs/category/<%= 'city' %>"><span><small><i class="fas fa-map-marker-alt"></i></small> City</span></a></li>
                                    <li><a href="/blogs/category/<%= 'adventure' %>"><span><small><i class="fas fa-map-marker-alt"></i></small> Adventure</span></a></li>
                                </ul>
                            </font></p>
                        </div>
                      <!-- Grid column -->
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <!-- Links -->
                                <p class="blocktext">
                                    <font color="white" size="5"><h5 class="text-uppercase">Contacts</h5>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="#!" class="list-unstyled">Facebook </a></li>
                                                    <li>
                                                        <a href="#!" class="list-unstyled">Instagram</a></li>
                                                    <li>
                                                        <a href="#!" class="list-unstyled">Line</a></li>
                                                    <li>
                                                        <a href="#!" class="list-unstyled">Phone</a></li>
                                                </ul>
                                    </font></p>
                
                              </div>
                </div>
                <!-- Grid row -->
              </div>
            </div>
        </footer>
        <!-- Footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>