<% include ./partials/header2%>
  <!-- register form -->
  <div class="container">
    <div class="m-signin-up">
      <div class="post-contant-signin box-shadow m-20">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 bg-signup">
            
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 p-30">
            <h2><span><i class="fas fa-address-book"></i></span> SIGN UP</h2>
            <form action="/users/register" enctype="multipart/form-data" method="post">
              <div class="form-group">
                  <label>Photo</label>
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="image" name="image" accept=".jpg, .jpeg" required="required" >
                      <label class="custom-file-label" for="customFile" >Choose file</label>
                  </div>
              </div>
              <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="fname" required="required">
              </div>
              <!-- <div class="form-group">
                  <label>Last name</label>
                  <input type="text" class="form-control" name="lname" required="required">
              </div> -->
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" name="email" required="required">
              </div>
              <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" name="phone" required="required">
              </div>
              <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" name="username" required="required">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" required="required">
              </div>
              <div class="form-group">
                  <label>Confirm password</label>
                  <input type="password" class="form-control" name="password2" required="required">
              </div>
              <%- messages('message', locals) %>
              <button type="submit" class="btn btn-secondary btn-block">Sign up</button>
          </form>

          <hr>

          <p>Already have an account? <a href="/users/login"><strong>Login</strong></a></p>
          <p>Or go <a href="/"><strong>home</strong></a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer%>